.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading img {
    width: 64px;
    margin-right: 5px;
    animation-name: loaderImage;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.loading.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes loaderImage {
    100% {transform: rotate(360deg);}
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}